<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include("./components/Head") %>
  <!--  -->
  <body>
    <!-- Alert -->
    <%- include("../components/Alert") %>

    <!-- Loading -->
    <%- include("../components/Loading") %>

    <!-- Header -->
    <%- include("./components/Header") %>
    <!--  -->
    <div class="admin__flix flex_center">
      <!-- Nav -->
      <%- include("./components/NavBar") %>
      <!--  -->
      <div class="main__content">
        <div class="main__content_head flex_center">
          <a href="/admin/movies" class="add_content"
            ><i class="bi bi-arrow-left-circle"></i> <span>Quay Lại</span></a
          >
        </div>
        <div class="main__content_body">
          <div
            class="main__detail_film bg-flm"
            style="background-image: url('<%= movie.banner.uri %>')"
          >
            <div class="main__detail_info flex_center">
              <div class="poster_image">
                <img src="<%= movie.poster.uri %>" alt="" />
              </div>
              <div class="main__detail_film_content">
                <h3 class="title_film"><%= movie.title %></h3>
                <p class="desc_film"><%= movie.description %></p>
                <div class="line"></div>
                <p class="time_film flex_center">
                  <small>
                    <i class="bi bi-clock"></i>
                    <span><%= movie.created_at %></span>
                  </small>
                  <small>
                    <i class="bi bi-calendar"></i>
                    <span><%= movie.created_at %></span>
                  </small>
                </p>
              </div>
            </div>
          </div>
          <div class="main__detail_more-info">
            <div class="tab-nav">
              <div class="tab-pane active">Chi Tiết</div>
              <div class="tab-pane">Nhân vật</div>
              <div class="tab-pane">Trailer</div>
              <div class="tab-pane">Chỉnh sửa</div>
              <!-- <div class="tab-pane">hình ảnh</div> -->
            </div>

            <!-- content -->
            <div class="tab-contents">
              <div class="tab-item active">
                <div class="detail_info_tab flex_center over_hidden">
                  <div>
                    <p class="text_info">
                      <i class="bi bi-box"></i> <span>Thể Loại:</span>
                      <span>harem, fantasy</span>
                    </p>
                    <p class="text_info">
                      <i class="bi bi-box"></i> <span>Thời Lượng:</span>
                      <span>2:15:56</span>
                    </p>
                    <p class="text_info">
                      <i class="bi bi-box"></i> <span> nhà sản xuất:</span>
                      <span>marvel</span>
                    </p>
                    <p class="text_info">
                      <i class="bi bi-box"></i> <span> quốc gia:</span>
                      <span>mỹ</span>
                    </p>
                  </div>
                  <div>
                    <p class="text_info">
                      <i class="bi bi-box"></i> <span>Chất lượng:</span>
                      <span>FHD, 2K, 4K</span>
                    </p>
                    <p class="text_info">
                      <i class="bi bi-box"></i> <span>Rating:</span>
                      <span>30%</span>
                    </p>
                    <p class="text_info">
                      <i class="bi bi-box"></i> <span> Ngôn ngữ:</span>
                      <span>English</span>
                    </p>
                    <p class="text_info">
                      <i class="bi bi-box"></i> <span> Sub:</span>
                      <span>Vietsub, engsub</span>
                    </p>
                  </div>
                  <div>
                    <p class="text_info">
                      <i class="bi bi-box"></i> <span>Chất lượng:</span>
                      <span>FHD, 2K, 4K</span>
                    </p>
                    <p class="text_info">
                      <i class="bi bi-box"></i> <span>Rating:</span>
                      <span>30%</span>
                    </p>
                    <p class="text_info">
                      <i class="bi bi-box"></i> <span> Ngôn ngữ:</span>
                      <span>English</span>
                    </p>
                    <p class="text_info">
                      <i class="bi bi-box"></i> <span> Sub:</span>
                      <span>Vietsub, engsub</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-item">
                <div class="actor_and_charactor flex_center over_hidden">
                  <div class="actor_info">
                    <img
                      src="https://flxt.tmsimg.com/assets/218027_v9_bb.jpg"
                      alt=""
                    />
                    <p class="name_actor">Sam Worthington</p>
                    <p class="name_chartactor">Jake sully</p>
                  </div>
                  <div class="actor_info">
                    <img
                      src="https://cdn.galaxycine.vn/media/2022/11/30/zoe-saldana-6_1669784240536.jpg"
                      alt=""
                    />
                    <p class="name_actor">Sam Worthington</p>
                    <p class="name_chartactor">Jake sully</p>
                  </div>
                  <div class="actor_info">
                    <img
                      src="https://i.pinimg.com/736x/2d/3b/07/2d3b07034ea7ff6b68129b1365bca648.jpg"
                      alt=""
                    />
                    <p class="name_actor">Sam Worthington</p>
                    <p class="name_chartactor">Jake sully</p>
                  </div>
                  <div class="actor_info">
                    <img
                      src="https://i.pinimg.com/564x/93/f3/4b/93f34b1046ab5b2b7aa67a78778aec74.jpg"
                      alt=""
                    />
                    <p class="name_actor">Sam Worthington</p>
                    <p class="name_chartactor">Jake sully</p>
                  </div>
                  <div class="actor_info">
                    <img
                      src="https://i.pinimg.com/564x/93/f3/4b/93f34b1046ab5b2b7aa67a78778aec74.jpg"
                      alt=""
                    />
                    <p class="name_actor">Sam Worthington</p>
                    <p class="name_chartactor">Jake sully</p>
                  </div>
                </div>
              </div>
              <div class="tab-item">
                <div class="tab_trailer_film over_hidden">
                  <video class="w-full shadow-lg" controls>
                    <source src="<%= movie.video.trailer %>" type="video/mp4" />
                  </video>
                  <!-- <iframe
                    width="100%"
                    height="550"
                    src=""
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
                  ></iframe> -->
                </div>
              </div>
              <div class="tab-item">
                <div class="tab_film_video over_hidden flex_center">
                  <%- include ("./update-movie.ejs", {movie}) %>
                  <!-- <video width="320" height="240" controls>
                      <source src="https://youtu.be/V1QlfXrT5uE?list=RD-CPFM0oVYtk" />
                      Your browser does not support the video tag.
                    </video>
                    <video width="320" height="240" controls>
                      <source src="https://youtu.be/V1QlfXrT5uE?list=RD-CPFM0oVYtk" />
                      Your browser does not support the video tag.
                    </video>
                    <video width="320" height="240" controls>
                      <source src="https://youtu.be/V1QlfXrT5uE?list=RD-CPFM0oVYtk" />
                      Your browser does not support the video tag.
                    </video> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/handle/main.js"></script>
</html>
