<div class="main__content">
  <div class="main__content_body">
    <form
      id="my__form_film"
      action=""
      method="post"
      enctype="multipart/form-data"
    >
      <h1 class="title_form">Sửa dự án phim</h1>
      <input
        type="text"
        name="idMovie"
        id="idMovie"
        value="<%= movie._id %>"
        hidden
      />
      <div class="">
        <label for="cate">Danh mục</label>
        <div class="flex gap-4 my-4">
          <% categories.forEach(category => { %>
          <label class="flex items-center">
            <input
              type="checkbox"
              name="category"
              value="<%= category.name %>"
              class="form-checkbox h-5 w-5 text-purple-600 transition duration-150 ease-in-out"
            />
            <span class="ml-2 text-white"><%= category.name %></span>
          </label>
          <% }) %>
        </div>
      </div>
      <div class="group-1-2">
        <div class="my__form-group">
          <label for="">Tiêu đề hiển thị</label>
          <input
            type="text"
            placeholder="<%= movie.title %>"
            class="my-form-control"
            name="title"
            id="title"
          />
        </div>
      </div>
      <div class="group-1-3">
        <div class="my__form-group">
          <label for="">Diễn viên chính</label>
          <input
            type="text"
            placeholder="<%= movie.casts %>"
            class="my-form-control"
            name="cast"
            id="cast"
          />
        </div>
        <div class="my__form-group">
          <label for="">Tên nhân vật</label>
          <input
            type="text"
            placeholder="<%= movie.characters %>"
            class="my-form-control"
            name="character"
            id="character"
          />
        </div>
      </div>
      <div class="group-1-4">
        <div class="my__form-group">
          <label for="">Thể loại</label>
          <input
            type="text"
            placeholder="<%= movie.genres %>"
            class="my-form-control"
            name="genre"
            id="genre"
          />
        </div>
        <div class="my__form-group">
          <label for="">Trailer</label>
          <input
            type="file"
            placeholder="Nhập đường dẫn trailer ..."
            class="my-form-control"
            name="trailer"
            accept="video/*"
            id="trailer"
          />
        </div>
      </div>
      <div class="group-1-1">
        <div class="my__form-group">
          <label for="description_film">Mô Tả</label>
          <textarea
            name="description"
            placeholder="<%= movie.description %>"
            id="description"
          ></textarea>
        </div>
      </div>
      <div class="group-1-2">
        <div class="my__form-group poster_upload">
          <small>Chọn poster hiển thị</small>
          <label for="poster_img"
            ><img class="img_click" src="/images/ul_poster_default.png" alt=""
          /></label>
          <img class="poster_review" src="<%= movie.poster.uri %>" alt="" />
          <input
            type="file"
            accept="image/*"
            class="form-control-file"
            name="poster"
            id="poster_img"
          />
        </div>
        <div class="my__form-group banner_upload">
          <small>Chọn banner hiển thị</small>
          <label for="banner_img"
            ><img
              class="img_click-2"
              src="/images/ul_poster_default.png"
              alt=""
          /></label>
          <img class="banner_review" src="<%= movie.banner.uri %>" alt="" />
          <input
            type="file"
            accept="image/*"
            class="form-control-file"
            name="banner"
            id="banner_img"
          />
        </div>
      </div>
      <div class="btn_submit_form-data">
        <button
          type="submit"
          id="btn-create-movie"
          class="flex justify-center items-center"
        >
          Hoàn tất
        </button>
      </div>
      <div class="line"></div>
    </form>
  </div>
</div>
<script src="/handle/update-movie.handle.js"></script>
<script src="/handle/review.js"></script>
