<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include("./components/Head") %>
  <!--  -->
  <body>
    <!-- Loading -->
    <%- include('../components/Loading') %>

    <!-- Header -->
    <%- include('./components/Header', {main}) %>

    <!-- Banner -->
    <%- include("./components/Banner", {movieBanner}) %>

    <!-- Slide -->
    <% moviesByCategory.forEach(item => { %>
    <!--  -->
    <%- include("./components/Slide", {title: item.category, movies:
    item.movies}) %>
    <!--  -->
    <% }) %>

    <!-- Detail film -->
    <%- include("./components/DetailClass", { icon }) %>

    <!-- Footer -->
    <%- include("./components/Footer") %>
  </body>
  <script src="handle/slide.handle.js"></script>
  <script src="handle/detailClass.handle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</html>
