<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Browser</title>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon" />
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/styles/web/selectUser.css" />
  </head>
  <body>
    <!-- Loading -->
    <%- include("../components/Loading") %>
    <!--  -->
    <div class="fillLogin">
      <span class="title-select-browser">Ai đang xem ?</span>
      <div class="listUser">
        <% users.forEach(user => { %>
        <div class="userCard" data-user="<%= user._id %>">
          <div class="imgUserCard">
            <img src="<%= user.avatar != "" ? user.avatar : "/images/meomeo.jpg"
            %>" alt="<%= user.username %>" />
          </div>
          <div class="nameUserCard">
            <span><%= user.username %></span>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
  <script>
    document.querySelectorAll(".userCard").forEach((item) => {
      item.onclick = () => {
        const idUser = item.getAttribute("data-user");
        document.cookie = `main=${idUser}`;
        location.href = "/browser";
      };
    });
  </script>
</html>
