<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include("./components/Head") %>
  <!--  -->
  <body>
    <!-- Loading -->
    <%- include('../components/Loading') %>

    <!-- Header -->
    <%- include('./components/Header') %>
    <div class="h-[20vh]"></div>

    <!-- List slide -->
    <div class="h-[100vh] w-full">
      <%- include("./components/Slide", {title: "Danh sách của tôi", movies}) %>
    </div>

    <!-- Detail film -->
    <%- include("./components/DetailClass") %>

    <!-- Footer -->
    <%- include("./components/Footer") %>
  </body>
  <script src="handle/slide.handle.js"></script>
  <script src="handle/detailClass.handle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</html>
